svg.railroad {
background-color: hsl(230, 10%, 20%);
background-size: 15px 15px;
background-image: linear-gradient(to right, rgba(150, 150, 150, .05) 1px, transparent 1px),
		  linear-gradient(to bottom, rgba(150, 150, 150, .05) 1px, transparent 1px);
}

svg.railroad rect.railroad_canvas {
stroke-width: 0px;
fill: none;
}

svg.railroad path {
stroke-width: 3px;
stroke: hsl(200, 10%, 60%);
fill: none;
}

svg.railroad .debug {
stroke-width: 1px;
stroke: red;
}

svg.railroad text {
font: 14px monospace;
text-anchor: middle;
fill: hsl(230, 30%, 80%);
}

svg.railroad .nonterminal text {
font-weight: bold;
}

svg.railroad text.comment {
font: italic 12px monospace;
}

svg.railroad rect {
stroke-width: 3px;
stroke: hsl(200, 10%, 50%);
fill: hsl(230, 20%, 20%);
}

svg.railroad g.labeledbox > rect {
stroke-width: 1px;
stroke: grey;
stroke-dasharray: 5px;
fill: rgba(90, 90, 150, .1);
}
